<button (click)="list()">get list</button>

<button (click)="previous()" *ngIf="offset > 0">previous page</button>
<button (click)="next()">next page</button>
<table>
  <tr>
    <th>ID</th>
    <th>Sprite</th>
    <th>Name</th>
  </tr>
  <div *ngIf="pokeApiResponse$ | async as pokeApiResponse">
    <tr *ngFor="let pokemon of pokeApiResponse.results">
      <td id="id">{{ pokemon.id }}</td>
      <td id="sprite"><img src="{{ pokemon.sprite }}"></td>
      <td id="name">{{ pokemon.name | titlecase }}</td>
    </tr>
  </div>

</table>

